header {
    background-color: aqua;
    border: 2px solid pink;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

img {
    height: 200px;
}

main {
    padding: 16px;
}
footer {
    background-color: lightgreen;
    padding: 24px;
    border: 2px solid pink;
    top: 0;
    bottom: 0;
    text-align: center;
}

.candlesteps {
    text-align: left;
}